Repository YAPP-Github/Gradmeet-BE, pull requests merged in 2025-07, with the labels that each got.

#147 [RELEASE] 릴리즈 v1.1.5
  application/src/main/kotlin/com/dobby/util/EmailUtils.kt
  application/src/test/kotlin/com/dobby/usecase/member/email/SendEmailCodeUseCaseTest.kt
  application/src/test/kotlin/com/dobby/usecase/member/email/SendMatchingEmailUseCaseTest.kt
Labels: 🚀 RELEASE

#148 [YS-504] 학교명 검색 자동완성 API 구현
  application/src/main/kotlin/com/dobby/service/MemberService.kt
  application/src/main/kotlin/com/dobby/usecase/member/SearchUniversityAutoCompleteUseCase.kt
  application/src/test/kotlin/com/dobby/usecase/member/SearchUniversityAutoCompleteUseCaseTest.kt
  domain/src/main/kotlin/com/dobby/enums/University.kt
  presentation/src/main/kotlin/com/dobby/api/config/WebSecurityConfig.kt
  presentation/src/main/kotlin/com/dobby/api/controller/MemberController.kt
  presentation/src/main/kotlin/com/dobby/api/dto/request/member/SearchAutoCompleteRequest.kt
  presentation/src/main/kotlin/com/dobby/api/dto/response/member/AutoCompleteResponse.kt
  presentation/src/main/kotlin/com/dobby/api/mapper/MemberMapper.kt
Labels: ✅ TEST, ✨ FEATURE

#149 [YS-506] refactor: 자동완성 API - 동일 요청에 대한 캐싱 처리로 리팩토링
  application/src/main/kotlin/com/dobby/usecase/member/SearchUniversityAutoCompleteUseCase.kt
  application/src/test/kotlin/com/dobby/usecase/member/SearchUniversityAutoCompleteUseCaseTest.kt
  domain/src/main/kotlin/com/dobby/enums/University.kt
  domain/src/main/kotlin/com/dobby/gateway/CacheGateway.kt
  infrastructure/src/main/kotlin/com/dobby/external/gateway/cache/RedisCacheGatewayImpl.kt
Labels: ♻️ REFACTORING, ✅ TEST

#152 [YS-518] fix: `INCHEON_ALL` 오타 수정 및 `region` 컬럼 ENUM에서 사용하지 않는 `_ALL` 값 제거
  domain/src/main/kotlin/com/dobby/enums/areaInfo/Area.kt
  infrastructure/src/main/resources/db/migration/V202507231332__remove_all_enum_values_from_participant_and_experiment_post.sql
Labels: 🐛 BUG, ⚙️ CHORE
